# This is a basic workflow to help you get started with Actions

name: Nuget Release

# Controls when the workflow will run
on:
  # Triggers the workflow  pull request events but only for the master branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    env:
      BUILD_CONFIG: "Release"
      SOLUTION: "HaagsTranslator.sln"

    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1.0.5

      - name: Restore dependencies
        run: nuget restore $SOLUTION

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 3.1.x

      - name: Build
        run: dotnet build $SOLUTION --configuration $BUILD_CONFIG --no-restore

      - name: Run tests
        run: dotnet test --configuration $BUILD_CONFIG  --no-restore --no-build --verbosity normal

      - name: Pack
        run: dotnet pack src/HaagsTranslator/HaagsTranslator.csproj -c Release --no-restore --no-build -p:PackageVersion=2.2.1

      - name: Push to NuGet
        run: dotnet nuget push **\*.nupkg --skip-duplicate -s https://api.nuget.org/v3/index.json -k ${{secrets.NUGET_API_KEY}}
